
nav{
  display:flex;
  font-size: 34px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width: 768px) {
  nav{
    padding: 5px 5px;
  }
}

h1{
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  h1{
      font-size: 28px;
  }
}

.nav-ul{
  display: flex;
  font-weight: bold;
  font-size: 34px;
}

.nav-ul li{
  list-style: none;
  display: flex;
  margin: 30px;
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .nav-ul li {
      margin: 8px;
      font-size: 21px;
  }
}

body{
  font-family: Noto Sans Japanese;
}

img{
  width: 100%;
}

h2{
  font-size: 34px;
  text-align: center;
}

h3{
  font-size: 24px;
}

ul{
  font-size: 18px;
}

.works{
  display: flex;
  margin: 50px 100px;
}

@media screen and (max-width: 768px) {
      .works {
          display: block;
      }
  }

.main{
  width: 100%;
}

.about{
  display: flex;
}

.profilephoto{
  width: 40%;
}

.profilephoto img{
  border-radius: 50%;
}

.profile{
  width: 60%;
}

@media screen and (max-width: 768px) {
  .about {
      display: block;
  }
}

.profilephoto,.profile{
  margin: 20px;
}

.works1,.works2,.works3{
  width: 33%;
  padding: 10px;
}

section{
 max-width: 900px;
 margin: auto;
}

@media screen and (max-width: 768px) {
  .profilephoto,.profile {
      width: 85%;
      }
  .works1,.works2,.works3{
    width: 100%;
  }
  .works{
    margin: auto;
  }
}

footer{
  font-size: 18px;
  text-align: center;
}